body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  
}
/* design all products  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 10px 10px 20px gray;
  border-radius: 20px;
  border: 1px solid crimson;
  background-color:rgb(246, 208, 158);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}
/* responsive design  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
